@import "tailwindcss";

#root {
  max-width: 1280px;
}


@font-face {
  font-family: 'Neue Haas Grotesk';
  src: url('./assets/nhg/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


